$icomoon-font-family: 'font-awesome-custom' !default;
$icomoon-font-path: 'fonts' !default;

/* -------------------------------------------------- */
$translucentBlack: rgba(0, 0, 0, 0.4);
$translucentWhite: rgba(255, 255, 255, 0.16);

/* :: Neutrals :: */

$darkGray: #616161;
$mediumGray: #95a5a6;
$lightGray: #d2d7d3;
$extraLightGray: #f9f9f9;

$divider: #ebebe7;

/* :: Colors :: */

$primaryColor: #1b75d1;
$accentColor: #ff9c13;

$primaryDisabled: lighten(desaturate($primaryColor, 9.22), 21.96);

/* :: States :: */

$info: #77ade5;
$success: #34a853;
$error: #ea4335;
$warning: #fbbc05;

/* Colors */
$white: #fff;
$black: #3c4242;

$blue-100: #a4c8ed;
$blue-200: #76ace3;
$blue-300: #4991da;
$blue-400: #1b75d1;
$blue-500: #165ea7;
$blue-600: #10467d;

$orange-100: #ffd7a1;
$orange-200: #ffc471;
$orange-300: #ffb042;
$orange-400: #ff9c13;
$orange-500: #cc7d0f;
$orange-600: #995e0b;

// $gray-50: #F4F6F6;
$gray-50: #f0f0f0;
$gray-75: #e8e8e8;
$gray-100: #d5dbdb;
$gray-200: #bfc9ca;
$gray-300: #aab7b8;
$gray-400: #95a5a6;
$gray-500: #778485;
$gray-600: #596364;

$green-100: #aedcba;
$green-200: #85cb98;
$green-300: #5db975;
$green-400: #34a853;
$green-500: #2a8642;

$yellow-100: #fde49b;
$yellow-200: #fdd769;
$yellow-300: #fcc937;
$yellow-400: #fbbc05;
$yellow-500: #c99604;

$light-blue-100: #c9def5;
$light-blue-200: #adceef;
$light-blue-300: #92bdea;
$light-blue-400: #77ade5;
$light-blue-500: #5f8ab7;

$red-100: #f7b4ae;
$red-200: #f28e86;
$red-300: #ee695d;
$red-400: #ea4335;
$red-500: #bb362a;

/* z-index */
$z-index-1: 100;
$z-index-2: 200;
$z-index-3: 300;
$z-index-4: 400;
$z-index-5: 500;
$z-index-6: 600; /* Overlays */
$z-index-7: 700; /* Submenu */
$z-index-8: 800; /* Menu */
$z-index-9: 900; /* Header */
$z-index-10: 1000; /* Tooltips, Mensagens */

/* font */
$font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$font-size-base: 16px;
$font-size-small: 0.8125rem;
$font-size-extra-small: 0.75rem;

$border-radius-1: 2px;
$border-radius-2: 4px;

:root {
  --text-color: #{$black};
  --primary-color: #{$blue-400};
  --accent-color: #{$orange-400};
  --error-color: #{$red-400};

  --label-color: var(--primary-color);

  --button-background: #{$white};
  --button-color: #{$gray-500};
  --button-hover-color: var(--accent-color);
  --button-disabled-background: #{$gray-100};
  --button-disabled-color: #{$gray-400};

  --button-primary-background: var(--primary-color);
  --button-primary-color: #{$white};
  --button-primary-hover-background: var(--accent-color);
  --button-primary-hover-color: #{$white};
  --button-primary-active-background: var(--accent-color);
  --button-primary-disabled-background: #{$blue-200};
  --button-primary-disabled-color: #{$white};

  --button-success-background: #{$green-400};
  --button-success-color: #{$white};
  --button-success-hover-color: #{$white};
  --button-success-active-background: #{$green-500};
  --button-success-disabled-background: #{$green-200};
  --button-success-disabled-color: #{$white};

  --button-error-background: #{$red-400};
  --button-error-color: #{$white};
  --button-error-hover-color: #{$white};
  --button-error-disable-background: #{$red-100};

  --button-risky-color: #{$red-400};

  --button-risky-primary-background: #{$red-400};
  --button-risky-primary-color: #{$white};
  --button-risky-primary-active-background: #{$red-500};
  --button-risky-primary-disabled-background: #{$red-200};

  /* checkbox, radio button */
  --checkbox-radio-border-color: #{$gray-200};
  --checkbox-radio-icon-color: #{$gray-300};

  --checkbox-radio-focus-color: var(--accent-color);
  --checkbox-radio-focus-border-color: var(--accent-color);
  --checkbox-radio-focus-checked-background: var(--accent-color);
  --checkbox-radio-icon-focus-color: var(--accent-color);

  --checkbox-radio-hover-border-color: var(--accent-color);
  --checkbox-radio-hover-color: var(--accent-color);
  --checkbox-radio-icon-hover-color: var(--accent-color);

  --checkbox-radio-focus-checked-border-color: var(--accent-color);
  --checkbox-radio-icon-focus-checked-color: #{$gray-200};

  --checkbox-radio-checked-background: #{$gray-600};
  --checkbox-radio-checked-border-color: #{$gray-600};
  --checkbox-radio-checked-color: #{$white};
  --checkbox-radio-icon-checked-color: var(--accent-color);

  --checkbox-radio-disabled-background: #{$gray-100};
  --checkbox-radio-disabled-border-color: #{$gray-100};
  --checkbox-radio-disabled-color: #{$gray-600};
  --checkbox-radio-icon-disabled-checked-color: #{$gray-300};

  /* datatable */
  --datatable-background: #{$gray-50};
  --datatable-border-color: #{$white};
  --datatable-hover-background: #{$gray-75};

  --datatable-spinner-background: #{$gray-50};
  --datatable-header-background: #{$gray-200};
  --datatable-th-background: #{$gray-100};
  --datatable-th-color: rgba(0, 0, 0, 0.54);
  --datatable-td-background: #{$gray-50};
  --datatable-footer-background: #{$gray-75};
  --datatable-drop-indicator-border-color: var(--accent-color);
  --datatable-actions-icons-color: #{$gray-500};
  --datatable-td-interactive-color: #{$primaryColor};
  --datatable-td-interactive-color-hover: #{$accentColor};
}
